@using MVCSchool.ViewModels

@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<form asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <input type="checkbox" asp-for="Remember" />
        <label asp-for="Remember"></label>
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>
