<h2 class="bg-danger mb-1 p-2 text-white">Access Denied</h2>
<p class="text-dark">Please contact the application author.</p>
<a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Logout</a>
